@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Ubuntu:wght@700&display=swap');
#scroll{
    background: linear-gradient(to bottom, #FFFF66, #0099FF);
    padding:15px 6px;
    border-radius:15px;
    color: #003366 
}
.headers{
  text-align: center;
  font-size: 48px;
  color: #DB4C27;
}
.header_fixed{
    position: fixed;
    right: 40px;
    bottom: 40px;
    padding: 10px 0;
    animation: showElement;
    animation-duration: 1s;
}

@keyframes showElement{
    0% {
        opacity: 0;
        bottom: -70px;
    }
    
    100% {
        opacity: 1;
        bottom: 0;
    }
}
* {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 32px;
}
p, a {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}
ul {
  list-style: none;
}
i {
  color: #DB4C27;
}
body {
  background: #D5DEDC;
}
header nav {
  padding: 14px 60px;
}
header nav ul {
  display: grid;
  align-items: center;
  grid-gap: 2px;
}
header nav ul li {
  text-align: center;
  padding: 12px 0;
}
header nav ul li {
  background: #DB4C27;
  border-radius: 21.5px;
  color: #FFFFFF;
}
header nav ul li:nth-child(6) {
  border-radius: 21.5px;
  color: #DB4C27;
  text-decoration-color: black;
}
#btn{
  background: #DB4C27;
}
section {
  padding: 60px 60px;
}
section ul {
  display: grid;
  grid-gap: 16px;
  align-items: center;
  margin: 64px 0;
}
section ul li {
  text-align: center;
}
section ul li p {
}
section ul li div {
  overflow: hidden;
  position: relative;
}
section ul li div img {
  width: 100%;
}
section ul li div iframe {
  width: 100%;
  border: 1px solid #666666;
  border-radius: 6px;
}
section .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 12px;
}

section .form input {
  font-family: 'Raleway', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

#forAdmin {
  font-family: 'Ubuntu', sans-serif;
  outline: 0;
  background: #DB4C27;;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  opacity: 0.95;
}

#forAdmin:hover {
  cursor: pointer;
  opacity: 1;
}

section .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 14px;
}

section .form .message a {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #DB4C27;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
}

section .form .register-form {
  display: none;
}
footer {
  background: #3F3E54;
}
footer div {
  padding: 14px 60px;
}
footer div > ul {
  display: grid;
  grid-gap: 8px;
}
footer div > ul > ul {
  text-align: center;
  padding: 12px 0;
}
footer div > ul > ul > li > a {
  color: #FFFFFF;
}
@media only screen
  and (min-width: 320px)
  and (max-width: 425px) {
    header nav ul {
      grid-template-columns: repeat(1, minmax(100px, 1fr));
    }
    section ul {
      grid-template-columns: repeat(1, minmax(100px, 1fr));
    }
    footer div > ul {
      grid-template-columns: repeat(1, minmax(100px, 1fr));
    }
  }
@media only screen
  and (min-width: 426px)
  and (max-width: 597px) {
    header nav ul {
      grid-template-columns: repeat(1, minmax(100px, 1fr));
    }
    section ul {
      grid-template-columns: repeat(1, minmax(100px, 1fr));
    }
    footer div > ul {
      grid-template-columns: repeat(1, minmax(100px, 1fr));
    }
  }
@media only screen
  and (min-width: 598px)
  and (max-width: 768px) {
    header nav ul {
      grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
    section ul {
      grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
    footer div > ul {
      grid-template-columns: repeat(1, minmax(100px, 1fr));
    }
  }
@media only screen
  and (min-width: 769px)
  and (max-width: 1024px) {
    header nav ul {
      grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
    section ul {
      grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
    footer div > ul {
      grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
  }
@media only screen
  and (min-width: 1025px)
  and (max-width: 1440px) {
    header nav ul {
      grid-template-columns: repeat(6, minmax(100px, 1fr));
    }
    section ul {
      grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
    footer div > ul {
      grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
  }
  @media only screen
    and (min-width: 1441px) {
      header nav ul {
        grid-template-columns: repeat(6, minmax(100px, 1fr));
      }
      section ul {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
      }
      footer div > ul {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
      }
    }
section .form #btncreate{
  font-family: 'Ubuntu', sans-serif;
  outline: 0;
  background: #DB4C27;;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  opacity: 0.95;
}
section .form #btncreate:hover {
  cursor: pointer;
  opacity: 1;
}
.Picture {
  display: block
}
  body > table{
    width: 80%;
}
.list {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
table{
    border-collapse: collapse;
background: linear-gradient(to top, white, #ff5722);
}
table.list{
    width:100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background: linear-gradient(to bottom, white, #ff5722);
}

input[type=text], input[type=number], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
form div.form-action-buttons{
    text-align: right;
}
.hide{
    display:none;
}
.visually-hidden {
    position: absolute;
    left: -100vw;
}
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
}